{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Post -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам пост, идентификатор которого был передан в url -->
{% block content %}
    <b><a style = "font-family: &quot;Source Sans Pro&quot;, sans-serif;"><font size="8" color="LightSkyBlue"> Объявление </font></a></b>
    <br>
    <b><font size="5" color="LemonChiffon">{{ post_detail.post_title }}</font></b>
    <br>
    <font size="5" color="LemonChiffon">Автор: {{ post_detail.post_author.author_user }}</font>
    <br>
    <font size="5" color="LemonChiffon">Дата: {{ post_detail.post_date|date:"d M Y" }}</font>
    <br>
    <font size="5" color="LemonChiffon">Рейтинг: {{ post_detail.post_rating }}</font>
    <br>
    <font size="5" color="LemonChiffon">{{ post_detail.post_text|safe }}</font>
    <br>

    <div class="contact-single">
        <li style="list-style: none">
            <span><b><font size="5" color="LemonChiffon">Комментарии:</font></b>
                <br>
                {% csrf_token %}
                {% for cmnt in post_detail.comment_set.all %}
                    {% if cmnt.comment_reject != 'X' %}
                    <font size="5" color="LemonChiffon">Дата: {{ cmnt.comment_datetime }}</font>
                    <br>
                    {% if cmnt.comment_accept == 'X' %}
                        <span style="color: PaleGreen">КОММЕНТАРИЙ ПРИНЯТ</span>
                    {% endif %}
                    <font size="5" color="LemonChiffon">Текст:</font>
                    <br>
                    <font size="5" color="LemonChiffon"><a href="../comment_update/{{ cmnt.id }}">{{ cmnt.comment_text }}</a></font>
                    <br>
                    <br>
                    {% endif %}
                {% endfor %}
                <br>
                <br>
            </span>
        </li>

        <h3 class="editContent"><span class="subtittle editContent" style="color: DarkSalmon">Оставить комментарий</span></h3>
        <form action="#" method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group editContent">
                <label for="comment_text" class="editContent">
                    <font size="5" color="LemonChiffon">Ваш комментарий *</font>
                    <textarea class="form-control border" rows="5" cols="150" name="comment_text" id="comment_text" required="">
                    </textarea>
                </label>
            </div>
            <button type="submit" class="mt-3 btn-success btn-block py-3">
                Отправить
            </button>
        </form>
    </div>
{% endblock content %}


